/* 
    Document   : mainCss
    Created on : Feb 28, 2013, 8:40:54 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
	background-color: black;
}

.logo {
	background-color: white;
	padding: 1em 0.5em;
}

.tools {
	background-color: #f0f0f0;
	padding: 0.5em;
}

.tool {
	margin-right: 0.5em;
	padding: 0.25em 0.75em;
}

.tool:hover {
	background-color: #dadada;
}

.tool:active {
	position: relative;
	top: 1px;
}

.image-information-field {
	clear: both;
	display: block;
	margin: 0.3em 0;
}

.text {
	float: right;
	width: 40%;
}

.textwhite {
        color: #f0f0f0;
	width: 40%;
}
