/* 
    Document   : mainCss
    Created on : Feb 28, 2013, 8:40:54 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.image-information-field {
	clear: both;
	display: block;
	margin: 0.3em 0;
}

.text {
	float: right;
	width: 40%;
}
