.slices-2D {
    float: left;
    width: 30%;
}

.slice-2D {
    height: 33%;
    margin: 0.2em 1em;
}

.axial {
    color: red;
}

.sagittal {
    color: green;
}

.coronal {
    color: blue;
}

.slice-3D {
    float: left;
    height: 500px;
    width: 50%;
}

.mossaicDiv {
    border-width: 3px;
    border-color: #000;
}

label.disabled { color: #aaa; }

.elementWebImageDiv{
    float: left;
    text-align: center;    
    margin: 6px;
}

.webImageDiv{ 

    width: 200px; 
    height: 250px;
}

.webImageDiv img{
    display:block;
    margin:0 auto;
}

.webImage{
    cursor: pointer; 
    width: 100%;
    height:95%;
}