<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS Toolkit styles    local:     <link rel="stylesheet" href="CSS/libs/bootstrap.min.css">-->
        <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
        <!-- Generic page styles -->
        <link rel="stylesheet" href="CSS/styleFileupload.css">
        <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
        <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css">        
        <link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="CSS/jquery.fileupload-ui.css">
        <link rel="stylesheet" href="CSS/visualization.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>        

        <script src="js/msqfunctions.js"></script> 
        <script src="js/openimgs.js"></script> 
        
        <noscript><link rel="stylesheet" href="CSS/jquery.fileupload-ui-noscript.css"></noscript>

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>                     
                </div>
            </div>
        </div>
        <div class="container">
            <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                <noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                <div class="row fileupload-buttonbar">
                    <div class="span7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="icon-upload icon-white"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-warning cancel">
                            <i class="icon-ban-circle icon-white"></i>
                            <span>Cancel upload</span>
                        </button>                        
                    </div>
                    <!-- The global progress information -->
                    <div class="span5 fileupload-progress fade">
                        <!-- The global progress bar -->
                        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                            <div class="bar" style="width:0%;"></div>
                        </div>
                        <!-- The extended global progress information -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>        
                <div class="fileupload-loading"></div>
                <br>
                <!-- The table listing the files available for upload/download -->
                <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
            </form>

            <!-- Show the image collection -->
            <div>
                <h1>Web Images</h1><br/>
                <div class="elementWebImageDiv">
                    <div class="webImageDiv">                    
                        <img id="MRIchild" class="webImage" src="images/MRIchild.png" alt="MRIchild"/>                    
                    </div>
                    <br/>
                    <h4>child MRI</h4>

                </div>

                <div class="elementWebImageDiv">
                    <div class="webImageDiv">                    
                        <img id="MRIchild2" class="webImage" src="images/MRIchild2.png" alt="MRIchild2" />                    
                    </div>
                    <br/>
                    <h4>child MRI</h4>
                </div>

                <div class="elementWebImageDiv">
                    <div class="webImageDiv">                    
                        <img id="MRIcerebro" class="webImage" src="images/MRIcerebro.png" alt="MRI cerebro" />                    
                    </div>
                    <br/>
                    <h4>MRI de um cerebro</h4>
                </div>

                <div class="elementWebImageDiv">
                    <div class="webImageDiv" style="width: 250px">                    
                        <img id="angioMRI" class="webImage" src="images/angioMRI.png" alt="angioMRI" />                    
                    </div>
                    <br/>
                    <h4>angio-MRI</h4>
                </div>

                <div class="elementWebImageDiv">
                    <div class="webImageDiv">                    
                        <img id="vessels" class="webImage" src="images/vessels.png" alt="vessels" />                    
                    </div>
                    <br/>
                    <h4>blood vessels (110MB)</h4>
                </div>                

                <br/>

                <div style="width: 100%; clear: left">
                    <form>
                        <span>Load image from URL</span>
                        <input type="text" id="txtboxURL">
                        <input type="button" id="btnLoad" value="Load">
                    </form>
                </div>
            </div>
        </div>
        <!-- The template to display files available for upload -->
        <script id="template-upload" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td>{% if (!o.options.autoUpload) { %}
            <button class="btn btn-primary start">
            <i class="icon-upload icon-white"></i>
            <span>Start</span>
            </button>
            {% } %}</td>
            {% } else { %}
            <td colspan="2"></td>
            {% } %}
            <td>{% if (!i) { %}
            <button class="btn btn-warning cancel">
            <i class="icon-ban-circle icon-white"></i>
            <span>Cancel</span>
            </button>
            {% } %}</td>
            </tr>
            {% } %}
        </script>
        <!-- The template to display files available for download -->
        <script id="template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="template-download fade">
            {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
            {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
            <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
            <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
            {% } %}
            <td>
            <!--<button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
            <i class="icon-trash icon-white"></i>
            <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            </td>-->
            </tr>
            {% } %}
        </script>

        <script src="libs/jquery-1.9.1.js"></script>

        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <script src="libs/fileupload/vendor/jquery.ui.widget.js"></script>
        <!-- The Templates plugin is included to render the upload/download listings -->
        <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
        <!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
        <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
        <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="libs/fileupload/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="libs/fileupload/jquery.fileupload.js"></script>
        <!-- The File Upload file processing plugin -->
        <script src="libs/fileupload/jquery.fileupload-fp.js"></script>
        <!-- The File Upload user interface plugin -->
        <script src="libs/fileupload/jquery.fileupload-ui.js"></script>
        <!-- The main application script -->
        <script src="libs/fileupload/main.js"></script>
    </body>
</html>
